// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~axios-progress-bar/dist/nprogress.css';
@import "~datatables.net-autofill-bs/css/autoFill.bootstrap.css";
@import "~datatables.net-bs/css/dataTables.bootstrap.min.css";
@import "~datatables.net-buttons-bs/css/buttons.bootstrap.min.css";
@import "~datatables.net-colreorder-bs/css/colReorder.bootstrap.min.css";
@import "~datatables.net-fixedcolumns-bs/css/fixedColumns.bootstrap.min.css";
@import "~datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css";
@import "~datatables.net-keytable-bs/css/keyTable.bootstrap.min.css";
@import "~datatables.net-responsive-bs/css/responsive.bootstrap.min.css";
@import "~datatables.net-rowgroup-bs/css/rowGroup.bootstrap.min.css";
@import "~datatables.net-rowreorder-bs/css/rowReorder.bootstrap.min.css";
@import "~datatables.net-scroller-bs/css/scroller.bootstrap.min.css";
@import "~datatables.net-select-bs/css/select.bootstrap.min.css";
@import "~footable/css/footable.core.css";
